{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Viraj Patel</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% comment %} <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/main.css'%}">  {% endcomment %}
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/about.css'%}">
    <!-- <script src='main.js'></script> -->
</head>
<body>
    {% include 'navbar.html' %}
    <div class="about-container">
        <div class="about-image">
          <img src="{% static 'images/about.jpg' %}" alt="Your Name">
        </div>
        <div class="about-content">
          <h1>Viraj Patel</h1>
          <p>
            I am Viraj Patel, an ambitious computer science professional currently pursuing a Master's in 
            Computer Science at Syracuse University, scheduled to graduate in May 2025. My academic journey 
            began with a Bachelor's in Computer Science from Nirma University, where I cultivated a strong 
            foundation in data structures, blockchain, and computer networks. In my recent Software 
            Engineering Internship at Oracle (Jan 2023 - July 2023), I played a pivotal role in optimizing 
            efficiency for the GBU Jira/Confluence team, achieving an impressive 80% reduction in manual 
            workload through the implementation of automated testing systems and Python scripting. 
            My technical repertoire encompasses languages such as C, Python, Java, SQL, and Haskell, and 
            I possess expertise in Machine Learning, Deep Learning, Blockchain, and more. Noteworthy projects 
            include developing a real-time system to detect farm intrusions and crafting a feature-rich 
            e-commerce website with advanced search capabilities. As I navigate through advanced coursework 
            in Computer Architecture, Introduction to Data Science, and Structural Programming, my CGPI of 
            3.89/4 reflects my dedication to academic excellence. With a diverse skill set, a proven track 
            record of impactful projects, and a passion for innovation, I am poised to make meaningful 
            contributions in the ever-evolving landscape of computer science. 
          </p>
          <!-- Add more details about yourself as needed -->
        </div>
      </div>
</body>
</html>