
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Viraj Patel</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% comment %} <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/main.css'%}">  {% endcomment %}
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/education.css'%}">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- <script src='main.js'></script> -->
</head>
<body>
    {% include 'navbar.html' %}
    <section class="back">
    {% for edu in education %}
        <div class="education-container">
            <div class="education-image">
            <img src="{% static 'images/'%}{{ edu.image }}" alt="Your Name">
            </div>
            <div class="education-entry">
                <h3>{{edu.collage}}</h3>
                <p> {{edu.date}} </p>
                <p>Degree : {{edu.degree}}</p>
                <p>Major : {{edu.major}}</p>
                <p>GPA : {{edu.gpa}}</p>
            </div>
        </div>
    {% endfor %}
    </section>

</body>
</html>